@model List<POCO.Messages>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">

            <h5>List of Messages</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-paper-plane"></i>
                    @Html.ActionLink("Send a Message ", "Create")
                </a>
            </div>

        </div>

        <div class="ibox-content">

            <br>
            <table class="footable table table-stripped toggle-arrow-tiny">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MessageBody)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MessageSubject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FromUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MessageIcon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FromDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ToDate)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                                <tr>
                                    <td>
                                     
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MessageBody)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MessageSubject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MessageIcon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDate)
                                    </td>
                                    <td>
                                        <script type="text/javascript">
                                            function ConfirmationDialog() {
                                                if (confirm("Are you sure to continue?"))
                                                    return true;
                                                else
                                                    return false;
                                            }
                                        </script>
                                        @Html.ActionLink(" ", "Edit", new { id = item.MessageId,Uid=item.ToUserId }, new { @class = "fa fa-pencil", Title = "Edit", style = "color:green" })
                                        @{

                                            if (Convert.ToDateTime(item.FromDate) <= DateTime.Now)
                                            {
                                                @Html.ActionLink(" ", "Delete", new { id = item.MessageId}, new { @class = "fa fa-trash", Title = "Delete", style = "color:red;display: none", onclick = "return ConfirmationDialog()" })

                                            }
                                            else
                                            {
                                                @Html.ActionLink(" ", "Delete", new { id = item.MessageId }, new { @class = "fa fa-trash", Title = "Delete", style = "color:red", onclick = "return ConfirmationDialog()" })

                                            }

                                        }
                                    </td>
                                </tr>
                                            }
                </tbody>
                @*<tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
        </tfoot>*@
            </table>
        </div>
    </div>
</div>
</div>