@model POCO.User

@{
    ViewBag.Title = "Change Password";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChangePassword</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <script>

    </script>


</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">ACS System</h1>

            </div>
            <p>Change User Password</p>
            <form class="m-t" role="form" action="ChangePassword" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("User ID")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.UserID, htmlAttributes: new { @class = "form-control", ReadOnly = "ReadOnly", placeholder = "User ID" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("User Name")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Username, htmlAttributes: new { @class = "form-control", ReadOnly = "ReadOnly", placeholder = "User Name" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("User Password")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.PasswordFor(a => a.Password, htmlAttributes: new { @class = "form-control", placeholder = "Password", required = "" })
                        </div>
                    </div>
                </div>

                <input type="submit" value="Change" class="btn btn-default" id="btnChange" formaction="@Url.Action("ChangePassword","User")" />
            </form>
        </div>
    </div>
</body>
</html>

