@model POCO.User

@{
    ViewBag.Title = "Create";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC6_Seed_Project</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <script>

    </script>


</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">ACS System</h1>

            </div>
            <p>Update User</p>
            <form class="m-t" role="form" action="Update" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("User ID")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.UserID, htmlAttributes: new { @class = "form-control",ReadOnly="ReadOnly", placeholder = "User ID" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("First Name")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.FirstName, htmlAttributes: new { @class = "form-control", placeholder = "First Name", required = "" })
                            @*<input type="text" class="form-control" placeholder="First Name" required="" name="FirstName">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("Mid Name")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.MidName, htmlAttributes: new { @class = "form-control", placeholder = "Mid Name", required = "" })
                            @*<input type="text" class="form-control" placeholder="Mid Name" required="" name="MidName">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("Last Name")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.LastName, htmlAttributes: new { @class = "form-control", placeholder = "Last Name", required = "" })
                            @*<input type="text" class="form-control" placeholder="Last Name" required="" name="LastName">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("User Name")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Username, htmlAttributes: new { @class = "form-control", placeholder = "User Name", required = "" })
                            @*<input type="text" class="form-control" placeholder="User Name" required="" name="Username">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("Email")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Email, htmlAttributes: new { @class = "form-control", placeholder = "Email", required = "" })
                            @*<input type="text" class="form-control" placeholder="Email" required="" name="Email">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("Address")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Address, htmlAttributes: new { @class = "form-control", placeholder = "Address", required = "" })
                            @*<input type="text" class="form-control" placeholder="Address" required="" name="Address">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("Phone No")
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.PhoneNo, htmlAttributes: new { @class = "form-control", placeholder = "PhoneNo", required = "" })
                            @*<input type="text" class="form-control" placeholder="PhoneNo" required="" name="PhoneNo">*@
                        </div>

                    </div>
                </div>

                <input type="submit" value="Update" class="btn btn-default" id="btnUpdate" formaction="@Url.Action("Update","User")" />
            </form>
        </div>
    </div>
</body>
</html>
